---
import GithubIcon from '@icons/GitHub.astro';
import LinkIcon from '@icons/Link.astro';
import Carousel from '@components/Carousel';
import LinkButton from '@components/LinkButton.astro';
import ProjectsDescription from '@components/Projects/ProjectsDescription';

import { PROJECTS } from '@utils/projects';
---

<div class='section w-full mx-auto md:-mt-[110px] container lg:w-[740px]'>
	{
		PROJECTS.map(
			({
				images,
				title,
				description,
				tags,
				link,
				secondaryLink,
				github,
			}) => (
				<>
					<article>
						<h3 class='text-2xl mt-12 font-semibold text-yellow-200/90 mb-2'>
							{title}
						</h3>

						<ProjectsDescription
							client:load
							description={description}
						/>
					</article>
					<ul class='flex gap-x-3 flex-row text-nowrap flex-wrap'>
						{tags.map(tag => (
							<li>
								<a
									target='_blank'
									rel='noopener noreferrer'
									href={tag.link}
									class={`flex gap-x-2 rounded-full text-xs items-center ${tag.class} px-3 py-1 border mb-6 hover:scale-110 active:scale-105 transition-all`}
								>
									<tag.icon class='size-3' />
									{tag.name}
								</a>
							</li>
						))}
					</ul>

					<Carousel client:load images={images} />

					<footer class='flex items-end justify-start mt-6 mb-16 gap-x-4'>
						{github && (
							<LinkButton href={github}>
								<GithubIcon class='size-4' />
								Código
							</LinkButton>
						)}
						{link && (
							<LinkButton href={link}>
								<LinkIcon class='size-4' />
								Demo
							</LinkButton>
						)}
						{secondaryLink && (
							<LinkButton href={secondaryLink}>
								<LinkIcon class='size-4' />
								Demo 2
							</LinkButton>
						)}
					</footer>
				</>
			),
		)
	}
</div>
