---
import { getAllProjects, getTranslatedProjects } from '../../utils/project-utils';
import GithubIcon from '@icons/GitHub.astro';
import LinkIcon from '@icons/Link.astro';
import Carousel from '@components/Carousel';
import LinkButton from '@components/ui/LinkButton.astro';
import ProjectsDescription from '@components/Projects/ProjectsDescription';
import Tag from '@components/ui/Tag.astro';
import type { Translations } from '../../types/translations';
import { TAGS } from '@utils/tags';
import DisableProjectCardHover from './DisableProjectCardHover.astro';

export interface Props {
	translations: Translations;
}

const { translations } = Astro.props;
const projectsButtons = translations.projectsPage.projectsButtons;

// Obtener todos los proyectos y traducirlos
const allProjects = getAllProjects();
const translatedProjects = getTranslatedProjects(allProjects, translations);
---

<div class='section w-full mx-auto container lg:w-[740px] px-4 sm:px-6 lg:px-8'>
	{
		translatedProjects.map(
			({
				images,
				title,
				description,
				tags,
				link,
				secondaryLink,
				github,
			}) => (
				<>
					<article>
						<h3 class='text-2xl mt-12 font-semibold text-blue-800/85  dark:text-yellow-200/90 mb-2'>
							{title}
						</h3>

						<ProjectsDescription
							client:load
							description={description}
						/>
					</article>
					<ul class='flex gap-x-3 flex-row text-nowrap flex-wrap'>
						{tags.map(tag => (
							<li>
								{TAGS[tag] ? (
									<Tag {...TAGS[tag]} />
								) : (
									<span>{tag}</span>
								)}
							</li>
						))}
					</ul>

					<Carousel client:load images={images} />

					<footer class='flex items-end justify-start mt-6 mb-16 gap-x-4'>
						{github && (
							<LinkButton href={github}>
								<GithubIcon class='size-4' />
								{projectsButtons.textCodeButton}
							</LinkButton>
						)}
						{link && (
							<LinkButton href={link}>
								<LinkIcon class='size-4' />
								{projectsButtons.textDemoButton}
							</LinkButton>
						)}
						{secondaryLink && (
							<LinkButton href={secondaryLink}>
								<LinkIcon class='size-4' />
								{projectsButtons.textDemo2Button}
							</LinkButton>
						)}
					</footer>
				</>
			),
		)
	}
</div>

<!-- Incluir script para deshabilitar hover en tarjetas de proyectos -->
<DisableProjectCardHover />
