---
import GithubIcon from '@icons/GitHub.astro';
import LinkIcon from '@icons/Link.astro';
import Carousel from '@components/Carousel';
import LinkButton from '@components/LinkButton.astro';
import ProjectsDescription from '@components/Projects/ProjectsDescription';
import Tag from '@components/Tag.astro';

import type { Project } from '../../types/projects';
import type { Translations } from '../../types/translations';
import { TAGS } from '@utils/tags';

const translations: Translations = Astro.props.translations;

const projectsButtons = translations.projectsPage.projectsButtons;

const projects: Project[] = translations.projectsPage.projects;
---

<div class='section w-full mx-auto md:-mt-[110px] container lg:w-[740px]'>
	{
		projects.map(
			({
				images,
				title,
				description,
				tags,
				link,
				secondaryLink,
				github,
			}) => (
				<>
					<article>
						<h3 class='text-2xl mt-12 font-semibold text-blue-800/85  dark:text-yellow-200/90 mb-2'>
							{title}
						</h3>

						<ProjectsDescription
							client:load
							description={description}
						/>
					</article>
					<ul class='flex gap-x-3 flex-row text-nowrap flex-wrap'>
						{tags.map(tag => (
							<li>
								{TAGS[tag] ? (
									<Tag {...TAGS[tag]} />
								) : (
									<span>{tag}</span>
								)}
							</li>
						))}
					</ul>

					<Carousel client:load images={images} />

					<footer class='flex items-end justify-start mt-6 mb-16 gap-x-4'>
						{github && (
							<LinkButton href={github}>
								<GithubIcon class='size-4' />
								{projectsButtons.textCodeButton}
							</LinkButton>
						)}
						{link && (
							<LinkButton href={link}>
								<LinkIcon class='size-4' />
								{projectsButtons.textDemoButton}
							</LinkButton>
						)}
						{secondaryLink && (
							<LinkButton href={secondaryLink}>
								<LinkIcon class='size-4' />
								{projectsButtons.textDemo2Button}
							</LinkButton>
						)}
					</footer>
				</>
			),
		)
	}
</div>
