---
import ProjectItem from './ProjectItem.astro';
import Arrow from '@icons/Arrow.astro';
import type { Project } from '../../types/projects';
import type { Translations } from '../../types/translations';
import { commonClasses } from '@utils/cssClasses';

const translations: Translations = Astro.props.translations;
const projects: Project[] = translations.projectsPage.projects;
const projectsButtons = translations.projectsPage.projectsButtons;

// Lista de proyectos seleccionados
const SELECTED_PROJECT_TITLES = [
  'Agrooe Cashback',
  'Strapi Games Store',
  'Paint Windows 95',
  'Bookshop View Transitions Demo',
  'Clon de Tiktok',
  'Atari Breakout Game'
];

const selectedProjects = projects.filter(project => 
  SELECTED_PROJECT_TITLES.includes(project.title)
);
---

<div class={commonClasses.section.projectsContainer}>
  {selectedProjects.map((project) => (
    <ProjectItem project={project} buttons={projectsButtons} />
  ))}

  <a
    href={translations.projectsPage.allProjectsLink}
    class={`mb-20 md:mb-0 flex justify-end items-center gap-[2px] group text-md w-fit px-2 py-1 rounded ${commonClasses.button.primary}`}
  >
    {translations.projectsPage.allProjects}
    <Arrow
      class={`${commonClasses.iconSize.large} transition-translate duration-300 ease-in-out group-hover:translate-x-1`}
    />
  </a>
</div>
