---
import GithubIcon from '@icons/GitHub.astro';
import LinkIcon from '@icons/Link.astro';
import Carousel from '@components/Carousel';
import LinkButton from '@components/LinkButton.astro';
import ProjectsDescription from '@components/Projects/ProjectsDescription';
import Arrow from '@icons/Arrow.astro';
import Tag from '@components/Tag.astro';

import type { Project } from '../../types/projects';
import type { Translations } from '../../types/translations';
import { TAGS } from '@utils/tags';

const translations: Translations = Astro.props.translations;

const projects: Project[] = translations.projectsPage.projects;

const projectsButtons = translations.projectsPage.projectsButtons;

const selectedProjects = projects.filter(
	project =>
		project.title === 'Agrooe Cashback' ||
		project.title === 'Strapi Games Store' ||
		project.title === 'Paint Windows 95' ||
		project.title === 'Bookshop View Transitions Demo' ||
		project.title === 'Clon de Tiktok' ||
		project.title === 'Atari Breakout Game',
);
---

<div
	class='section scroll-m-28 w-full mx-auto -mt-5 md:-mt-[110px] container lg:w-[740px] md:pb-24'
>
	{
		selectedProjects.map(
			({
				images,
				title,
				description,
				tags,
				link,
				secondaryLink,
				github,
			}) => (
				<>
					<article>
						<h3 class='text-2xl mt-12 font-semibold text-blue-800/85  dark:text-yellow-200/90 mb-2'>
							{title}
						</h3>

						<ProjectsDescription
							client:load
							description={description}
						/>
					</article>
					<ul class='flex gap-x-3 flex-row text-nowrap flex-wrap'>
						{tags.map(tag => (
							<li>
								{TAGS[tag] ? (
									<Tag {...TAGS[tag]} />
								) : (
									<span>{tag}</span>
								)}
							</li>
						))}
					</ul>

					<Carousel client:load images={images} />

					<footer class='flex items-end justify-start mt-6 mb-16 gap-x-4'>
						{github && (
							<LinkButton href={github}>
								<GithubIcon class='size-4' />
								{projectsButtons.textCodeButton}
							</LinkButton>
						)}
						{link && (
							<LinkButton href={link}>
								<LinkIcon class='size-4' />
								{projectsButtons.textDemoButton}
							</LinkButton>
						)}
						{secondaryLink && (
							<LinkButton href={secondaryLink}>
								<LinkIcon class='size-4' />
								{projectsButtons.textDemo2Button}
							</LinkButton>
						)}
					</footer>
				</>
			),
		)
	}

	<a
		href={translations.projectsPage.allProjectsLink}
		class='mb-20 md:mb-0 flex justify-end items-center gap-[2px] group text-md w-fit px-2 py-1 rounded text-white bg-gray-600/95 hover:bg-gray-600/85 active:bg-gray-600/75 dark:text-[#00091D] dark:bg-white/95 dark:hover:bg-white/85 dark:active:bg-white/75'
		>{translations.projectsPage.allProjects}
		<Arrow
			class='size-6 transition-translate duration-300 ease-in-out group-hover:translate-x-1'
		/>
	</a>
</div>
