---
import '@styles/reset.css';
import '@styles/animations.css';

import SectionContainer from '@components/SectionContainer.astro';
import Hero from '@components/Hero/index.astro';
import Experience from '@components/Experience.astro';
import Briefcase from '@icons/Briefcase.astro';
import Projects from '@components/Projects/Projects.astro';
import Skills from '@components/Skills.astro';
import Fire from '@icons/Fire.astro';
import CertificationsPreview from '@components/sections/CertificationsPreview.astro';

import { commonClasses } from '@utils/cssClasses';
import type { Translations } from '../../types/translations';

interface Props {
	translations: Translations;
}

const { translations } = Astro.props;

const skills = translations.mainPage.skills;
const experience = translations.experience;
---

<main class={commonClasses.section.base}>
	<SectionContainer id='main' class={commonClasses.section.padding}>
		<Hero translations={translations} />
	</SectionContainer>

	<SectionContainer id='skills'>
		<h2 class={commonClasses.heading.h2 + ' mb-12'}>
			<Fire class={commonClasses.iconSize.xl} />
			{skills.skillsTitle}
		</h2>
		<Skills />
	</SectionContainer>

	<SectionContainer id='experience' class={commonClasses.section.paddingAlt}>
		<h2 class={commonClasses.heading.h2 + ' mb-12'}>
			<Briefcase class={commonClasses.iconSize.xl} />
			{experience.workExperience}
		</h2>
		<Experience translations={translations} />
	</SectionContainer>

	<!-- Quitamos el SectionContainer redundante y dejamos solo el componente Projects -->
	<Projects translations={translations} />

	<CertificationsPreview translations={translations} />
</main>
