---
import '@styles/reset.css';
import '@styles/animations.css';

import SectionContainer from '@components/SectionContainer.astro';
import Hero from '@components/sections/Hero.astro';
import CodeIcon from '@icons/Code.astro';
import Experience from '@components/Experience.astro';
import Briefcase from '@icons/Briefcase.astro';
import Projects from '@components/Projects/Projects.astro';
import Skills from '@components/Skills.astro';
import Fire from '@icons/Fire.astro';
import Badge from '@components/ui/Badge.astro';

import { commonClasses } from '@utils/cssClasses';
import type { Translations } from '../../types/translations';

interface Props {
	translations: Translations;
}

const { translations } = Astro.props;

const skills = translations.mainPage.skills;
const experience = translations.experience;
const selectedProjects = translations.mainPage.selectedProjects;
---

<main class={commonClasses.section.base}>
	<SectionContainer id='inicio' class={commonClasses.section.padding}>
		<Hero translations={translations} />
	</SectionContainer>

	<SectionContainer id='habilidades'>
		<h2 class={commonClasses.heading.h2 + ' mb-12'}>
			<Fire class={commonClasses.iconSize.xl} />
			{skills.skillsTitle}
		</h2>
		<Skills />
	</SectionContainer>

	<SectionContainer id='experiencia' class={commonClasses.section.paddingAlt}>
		<h2 class={commonClasses.heading.h2 + ' mb-12'}>
			<Briefcase class={commonClasses.iconSize.xl} />
			{experience.workExperience}
		</h2>
		<Experience translations={translations} />
	</SectionContainer>

	<SectionContainer id='proyectos' class={commonClasses.section.paddingAlt}>
		<h2 class={commonClasses.heading.h2 + ' -ml-1'}>
			<CodeIcon class={commonClasses.iconSize.xxl} />
			{selectedProjects.projectsTitle}

			<a
				href={translations.projectsPage.allProjectsLink}
				class='flex items-center ml-4 text-nowrap'
			>
				<Badge class='flex items-center'>
					{translations.projectsPage.allProjects}
				</Badge>
			</a>
		</h2>
	</SectionContainer>
	<Projects translations={translations} />
</main>
