---
import ArrowUp from '@icons/ArrowUp.astro';
import type { Translations } from '../types/translations';
import type { FooterItem } from '../types/footerItem';

const translations: Translations = Astro.props.translations;
const footerItems: FooterItem[] = translations.footerItems;
---

<footer class='shadow p-4 py-8 md:p-8 lg:p-10 backdrop-blur-[1px]'>
	<div class='mx-auto max-w-screen-xl text-center'>
		<a
			href='https://www.linkedin.com/in/francisco-jos%C3%A9-r-5b2181bb/'
			class='flex justify-center items-center text-2xl font-semibold text-gray-700 dark:text-white'
			target='_blank'
			rel='noopener noreferrer'
		>
			<img src='/favicon.png' class='rounded-full w-10 h-10 mr-4' />
			{translations.personalInfo.alias}
		</a>
		<p class='my-6 text-gray-500 dark:text-gray-400'>
			{translations.personalInfo.role}
			<span class='text-nowrap'>{translations.personalInfo.location}</span
			>
		</p>
		<ul
			class='flex flex-wrap gap-y-2 md:gap-y-0 justify-center items-center mb-6 text-gray-700 dark:text-white/80'
		>
			<li>
				<a
					href={footerItems[0].url}
					class='mr-4 hover:underline md:mr-6'
				>
					{footerItems[0].title}
				</a>
			</li>
			<li>
				<a
					href={footerItems[1].url}
					class='mr-4 hover:underline md:mr-6'
				>
					{footerItems[1].title}
				</a>
			</li>
			<li>
				<a
					href={footerItems[2].url}
					class='mr-4 hover:underline md:mr-6'
				>
					{footerItems[2].title}
				</a>
			</li>
			<!-- <li>
				<a href='#' class='mr-4 hover:underline md:mr-6'>Blog</a>
			</li> -->
			<li>
				<a
					href={footerItems[3].url}
					class='mr-4 hover:underline md:mr-6'
				>
					{footerItems[3].title}
				</a>
			</li>
			<li>
				<a
					href={footerItems[4].url}
					target='_blank'
					rel='noopener noreferrer'
					class='hover:underline md:mr-6 mr-4'
				>
					{footerItems[4].title}
				</a>
			</li>
			<li>
				<a
					href={footerItems[5].url}
					class='hover:underline flex flex-row items-center justify-center group gap-[2px]'
					>{footerItems[5].title}
					<ArrowUp
						class='size-4 group-hover:-translate-y-[1px] transition-all'
					/></a
				>
			</li>
		</ul>
		<span class='text-sm text-gray-500 sm:text-center dark:text-gray-400'>
			© 2024{' '}
			<a href='#' class='hover:underline'>
				{translations.personalInfo.name}
			</a>
		</span>
	</div>
</footer>
