---
import Layout from '@layouts/Layout.astro';
import SectionContainer from '@components/SectionContainer.astro';
import CertificationsIcon from '@icons/CertificationsIcon.astro';
import Certifications from '@components/Certifications.astro';
import type { Translations } from '../../types/translations';

import { textsJson } from '@utils/const';
const langJson = textsJson.es;

const translations: Translations = langJson;

const certificationsPage = translations.certificationsPage;
---

<Layout
	title={certificationsPage.certificationsTitle}
	description={certificationsPage.certificationsDescription}
	json={langJson}
>
	<main class='px-4'>
		<SectionContainer
			id='certificaciones'
			data-section='certificaciones'
			class='pt-36 md:py-28'
		>
			<h2
				class='text-3xl font-semibold -ml-1 flex gap-x-3 items-center text-gray-700 dark:text-white'
			>
				<CertificationsIcon class='size-9' />
				{certificationsPage.certifications}
			</h2>
		</SectionContainer>
		<Certifications translations={translations} />
	</main>
</Layout>
