---
import type { Certification } from '../../types/certification';
import type { Translations } from '../../types/translations';
import { ENTITIES } from '@utils/entities';
import EntityBadge from '../ui/EntityBadge.astro';
import PDFViewer from '../ui/PDFViewer.astro';
import ActionButton from '../ui/ActionButton.astro';

export interface Props {
  certification: Certification;
  translations: Translations;
}

const { certification, translations } = Astro.props;
const { title, description, entity, url } = certification;
const { downloadButton } = translations.certificationsPage;
---

<article>
  <h3 class='text-2xl mt-12 font-semibold text-blue-800/85 dark:text-yellow-200/90 mb-3'>
    {title}
  </h3>

  <p class='mb-6 text-gray-500/90 dark:text-white'>
    {description}
  </p>

  <div class='mb-6'>
    <PDFViewer url={url} title={title} translations={translations} />
  </div>

  <footer class='flex items-end justify-start mt-6 gap-x-4 mb-16'>
    {entity && ENTITIES[entity] && (
      <EntityBadge entity={ENTITIES[entity]} />
    )}
  </footer>
</article>
